@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

body {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ECC839;
}

.escolhe {
    display: flex;
    justify-content: center;
}

.escolhe_nivel {
    align-items: center;
    padding: 12px 16px 12px 24px;
    gap: 60px;
    width: 285px;
    height: 48px;
    background: #2B0E11;
    border: 1px solid #EE9430;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #EE9430;
    text-align: center;

}

.vitoria {
   display: flex;
   justify-content: center;
}

.mensagem_vitoria {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background: #15181F;
    border-radius: 16px;
    display: none;
}

.titulo_vitoria {
    font-family: 'October Crow';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: #ECC839;
}

.texto_vitoria {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 80%;
    color: #FFFFFF;
}

.botao_vitoria {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    background: #2B0E11;
    border: 1px solid #EE9430;
    box-shadow: 0px 0px 8px #B63C00;
    border-radius: 8px;
}

.botao_vitoria:hover {
    cursor: pointer;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.jogo {
    display: flex;
    flex-wrap: wrap;
}

.imagem_tamanho {
    width: 10rem;
    margin-left: 1rem;
}